<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submit</title>
</head>
<body>
    <form action="/submit" method="post">
        <p>이름: <input type="text" name="name"></p>
        <p>나이: <input type="text" name="age"></p>
        <p><button type="submit">전송</button></p>
    </form>
</body>
</html>